body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 2.6rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  color: #66BFBF;
  font-weight: bolder;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

hr {
  border: dotted 6px #231e23;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.p {
  line-height: 2;
}

/* Navgation bar */
.navbar {
  background-color: #EAF6F6;
}

.nav-item {
  text-decoration: none;
  color: #66BFBF;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 30px;
}

.nav-item:hover {
  color: black;
}


/* Page 1 */
.top-container {
  background-color: #EAF6F6;
  margin: 0;
  position: relative;
  padding-top: 250px;
}

/* Info Home section */
.middle-container {
  padding: 100px 0;
}

.intro {
  width: 32%;
  margin: auto;
  font-weight: bold;
  font-size: 20px;
}

/* SKills row */
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-weight: bold;
}

/* Skill 1 */
.computer {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

/* SKill 2 */
.languages {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-right: 30px;
}

/* clouds */
.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
  width: 200px;
}

.middle-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

/* CONTACT ME */
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Social Links */
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  font-size: 30px;
  color: #231e23;
  padding: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

/* copyright button */
.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding-top: 4px;
}



/*----------------------------------------------- Media Query (Responsivness) */
@media (max-width:1000px) {

  /* navbar */
  .nav-item {
    font-size: 40px;
    font-weight: normal;
    padding: 10px 30px ;
    margin-top: 50px;
  }

  /* intro */
  h1 {
    font-size: 100px;
  }

  .profile h2 {
    font-size: 80px;
    font-weight: bold;
  }

  .profile p {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
    width: 80%;
    line-height: 2;
  }

  /* skills @media query */
  .skills h2 {
    font-size: 80px;
    font-weight: bold;
  }

  .skills-heading {
    font-size: 40px;
  }

.skills-text{
    font-size: 30px;
    width: 100%;

  }
  table{
    font-size: 30px;
    width:80%;
  }
.computer,.languages{
  width:30%;
}

  /* bottom container */
  .contact-me h2 h3 {
    font-size: 40px;
  }

  .contact-me p{
  font-size: 15px;
    width: 90%;

  }



}
  /* -------------------------------------media query end */
